.mxmake/
.venv/
*.pyc
/.coverage
/.installed.cfg
/.project
/.pydevproject
/bin/
/constraints-mxdev.txt
/coverage/
/develop-eggs/
/dist/
/eggs/
/htmlcov/
/include/
/lib/
/local/
/parts/
/pip-selfcheck.json
/py2/
/py3/
/requirements-mxdev.txt
/share/
/sources/
/src/cone.tile.egg-info/
/venv/
/build
